# cp .env.development.example .env.development

VITE_HUB_BASE=http://127.0.0.1:5001
VITE_FF_API_BASE=http://127.0.0.1:8400
VITE_FF_ENGINE_BASE=http://127.0.0.1:8000
VITE_HUB_APP_KEY=facefusion
VITE_HUB_CLIENT_SECRET=change-me
VITE_UPLOAD_URL=https://pan2.evaplat.com/upload
